@use "sass:map";

.background {
	fill: var(--gray-01);
}

.foreground {
	fill: var(--gray-12);
}

.button {
	transition: transform 0.2s ease-out;
	cursor: pointer;
	background: unset;
	border: unset;
	border-top-left-radius: map.get(styles.$spacing, "1");
	border-top-right-radius: map.get(styles.$spacing, "1");
	margin: 0;
	padding: 0;

	// Tuck the button underneath the header by a
	// tiny bit to ensure there is no gap.
	transform: translateY(map-get(styles.$spacing, "px"));

	&:hover {
		background: unset;
		border: unset;
	}

	&:active {
		transform: translateY(map-get(styles.$spacing, "1"));
	}

	@media all {
		opacity: 0;
		width: 0px;
	}

	@media screen and (min-width: map-get(styles.$spacing, "144")) {
		opacity: 1;
		width: map-get(styles.$spacing, "28");
	}
}
