---
import BaseLayout from "./BaseLayout.astro";
import { main } from "./SingularityLayout.css.ts";

type Props = {
	title?: string;
	frontmatter?: Record<string, any>;
};

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
	<main class={main} transition:animate="fade">
		<slot />
	</main>
</BaseLayout>
