---
import { ViewTransitions } from "astro:transitions";
import { Footer, ScrollContainer } from "@nuttyverse/blocks";
import BaseLayout from "./BaseLayout.astro";
import { main, container } from "./UniversalLayout.css.ts";

type Props = {
	title?: string;
	frontmatter?: Record<string, any>;
};

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
	<main class={main} transition:animate="fade">
		<ScrollContainer className={container}>
			<slot />
		</ScrollContainer>
	</main>
	<Footer />
</BaseLayout>
