.theme-dark {
	--background-primary: #000000;
	--background-secondary: #010101;
	--code-background: #171717;
	--text-normal: #cdcdcd;
	--hr-color: #222222;
}
 
.theme-light {
	--background-primary: #ffffff;
	--background-secondary: #cccccc;
}
