@use "sass:map";
@use "../../styles";

.divider {
	width: 100%;
	height: calc(map.get(styles.$spacing, "1") + 1px);
	background: var(--gray-12);
	padding-left: map.get(styles.$spacing, "4");
	padding-right: map.get(styles.$spacing, "4");
}
