@use "sass:map";
@use "../../styles";

[data-theme='light'] {
	--border-color: #{map.get(styles.$gray, "light", "12")};
}

[data-theme='dark'] {
	--border-color: #{map.get(styles.$gray, "dark", "12")};
}

.divider {
	width: 100%;
	height: calc(map.get(styles.$spacing, "1") + 1px);
	background: var(--border-color);
	padding-left: map.get(styles.$spacing, "4");
	padding-right: map.get(styles.$spacing, "4");
}
