---
import { Landing } from "../components/Landing.tsx";
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="https://fonts.nuttyver.se/fsd-emoji-foo.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.nuttyver.se/pragmatapro-liga-regular-foo.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.nuttyver.se/pragmatapro-liga-bold-foo.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.nuttyver.se/pragmatapro-fraktur-bold-foo.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.nuttyver.se/pragmatapro-nure-foo.woff2" as="font" type="font/woff2" crossorigin />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Nuttyverse</title>
   </head>
   <body>
      <Landing client:only />
   </body>
</html>
