---
import { Title, LookingGlass } from "@nuttyverse/blocks";
import UniversalLayout from "../layouts/UniversalLayout.astro";
---

<UniversalLayout title="Nuttyverse">
	<div
		style={{
			display: "flex",
			flexDirection: "column",
			height: "100%",
			gap: "1rem",
		}}
	>
		<Title>☙ Looking Glass ❧</Title>
		<LookingGlass client:only="react" />
	</div>
</UniversalLayout>
