@use "sass:map";
@use "../styles";

.container {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	max-width: 580px;
}

.main {
	padding-left: map.get(styles.$spacing, "4");
	padding-right: map.get(styles.$spacing, "4");
}
