@use "sass:map";

.background {
	fill: var(--gray-01);
}

.foreground {
	fill: var(--gray-12);
}

.button {
	width: 22rem;
	cursor: pointer;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	transition: transform 0.2s ease-out;

	// Tuck the button underneath the header by a
	// tiny bit to ensure there is no gap.
	transform: translateY(map-get(styles.$spacing, "px"));

	&:active {
		transform: translateY(map-get(styles.$spacing, "1"));
	}
}
