@use "sass:map";

.background {
	fill: var(--gray-01);
}

.foreground {
	fill: var(--gray-12);
}

.button {
	width: 22rem;
	cursor: pointer;
	background: unset;
	border: unset;
	border-top-left-radius: map.get(styles.$spacing, "1");
	border-top-right-radius: map.get(styles.$spacing, "1");
	border-bottom-left-radius: map.get(styles.$spacing, "0");
	border-bottom-right-radius: map.get(styles.$spacing, "0");
	margin: 0;
	padding: 0;
	transition: transform 0.2s ease-out;

	// Tuck the button underneath the header by a
	// tiny bit to ensure there is no gap.
	transform: translateY(map-get(styles.$spacing, "px"));

	&:active {
		transform: translateY(map-get(styles.$spacing, "1"));
	}
}
