@use "sass:map";
@use "../../styles";

[data-theme='light'] {
	--background-color: #{map.get(styles.$gray, "light", "01")};
	--foreground-color: #{map.get(styles.$gray, "light", "12")};
	--foreground-light-color: #{map.get(styles.$gray, "light", "11")};
	--active-line-color: #{map.get(styles.$gray, "light", "03")};
	--syncing-color: yellow;
}

[data-theme='dark'] {
	--background-color: #{white};
	--foreground-color: #{map.get(styles.$gray, "dark", "12")};
	--foreground-light-color: #{map.get(styles.$gray, "light", "11")};
	--active-line-color: #{map.get(styles.$gray, "dark", "03")};
	--syncing-color: black;
}

.container {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.editor {
	width: 50%;
	min-width: 50%;
	max-width: 50%;
	height: 100%;

	:global(.cm-editor *) {
		font-family: "PragmataPro Liga", monospace !important;
		font-size: calc(#{map.get(styles.$type-scale, "xs")} * 1.04);
	}

	:global(.cm-editor) {
		height: 100%;
	}

	:global(::selection) {
		background-color: var(--foreground-color);
		color: var(--background-color);
	}

	:global(&.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground) {
		background-color: var(--foreground-color);
	}

	:global(.cm-selectionBackground) {
		background-color: var(--foreground-color);
	}

	:global(.cm-gutter) {
		background-color: var(--background-color);
		color: var(--foreground-light-color);
	}

	:global(.cm-activeLineGutter) {
		background-color: var(--active-line-color);
	}

	:global(.cm-gutters) {
		border-right-color: var(--active-line-color);
		border-right-width: 2px;
	}

	:global(.cm-line) {
		padding-left: map.get(styles.$spacing, "2");
		line-height: 1.6;
	}

	:global(.cm-focused) {
		outline: none;
	}

	:global(.ͼc) {
		color: var(--foreground-color);
	}
}

.output {
	width: 50%;
	padding-left: map.get(styles.$spacing, "4");
	padding-right: map.get(styles.$spacing, "2");
	border-left: 2px solid var(--active-line-color);
}

.content {
	@extend .with-full-bleed;

	width: 100%;
	max-width: 640px;
	margin: auto;
	padding: map.get(styles.$spacing, "4") 0;

	& > p:first-of-type {
		@extend .with-drop-cap;
	}
}

.sync-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: map.get(styles.$type-scale, "xs");

	height: map.get(styles.$spacing, "6");
	width: map.get(styles.$spacing, "16");

	position: absolute;
	top: 0%;
	left: calc(50% - #{map.get(styles.$spacing, "8")});

	transition: all 0.2s ease-in-out;
	font-weight: 900;
	font-variant: all-small-caps;
	background: var(--foreground-color);
	color: var(--background-color);
	border: map.get(styles.$spacing, "1") solid var(--foreground-color);
	border-bottom-left-radius: map.get(styles.$spacing, "1");
	border-bottom-right-radius: map.get(styles.$spacing, "1");
	cursor: pointer;

	z-index: 4000;
}

.syncing {
	animation: 60ms infinite alternate syncing;
	animation-timing-function: ease-in-out;
	color: var(--syncing-color);

	width: map.get(styles.$spacing, "16");
	left: calc(50% - #{map.get(styles.$spacing, "8")});
}

@keyframes syncing {
  0%, 100% {
    text-shadow: 0 0 2em var(--background-color);
  }
  20%, 80% {
    text-shadow: 0 0 0.4em var(--background-color);
  }
  50% {
    text-shadow: none;
  }
}
