@use "sass:map";
@use "../../styles";

[data-theme='light'] {
	--gutter-background-color: #{map.get(styles.$gray, "light", "01")};
	--gutter-foreground-color: #{map.get(styles.$gray, "light", "12")};
	--active-line-color: #{map.get(styles.$gray, "light", "03")};
}

[data-theme='dark'] {
	--gutter-background-color: #{map.get(styles.$gray, "dark", "01")};
	--gutter-foreground-color: #{map.get(styles.$gray, "dark", "12")};
	--active-line-color: #{map.get(styles.$gray, "dark", "03")};
}

.container {
	display: flex;
	width: 100%;
	height: 100%;

	:global(.cm-editor *) {
		font-family: "PragmataPro Liga", monospace !important;
		font-size: map.get(styles.$type-scale, "xs");
	}
}

.editor {
	width: 50%;
	min-width: 50%;
	max-width: 50%;
	height: 100%;

	:global(.cm-editor) {
		height: 100%;
	}

	:global(::selection) {
		background-color: var(--gutter-foreground-color);
		color: var(--gutter-background-color);
	}

	:global(&.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground) {
		background-color: var(--gutter-foreground-color);
	}

	:global(.cm-selectionBackground) {
		background-color: var(--gutter-foreground-color);
	}

	:global(.cm-gutter) {
		background-color: var(--gutter-background-color);
		color: var(--gutter-foreground-color);
	}

	:global(.cm-activeLineGutter) {
		background-color: var(--active-line-color);
	}

	:global(.cm-gutters) {
		border-right-color: var(--active-line-color);
	}

	:global(.cm-line) {
		padding-left: map.get(styles.$spacing, "2");
		line-height: 1.6;
	}

	:global(.cm-focused) {
		outline: none;
	}
}

.output {
	width: 50%;
	height: 100%;
	max-height: 100%;
	padding-left: map.get(styles.$spacing, "4");
	border-left: 2px solid var(--gutter-foreground-color);
	overflow-y: auto;
}

.content {
	max-width: 500px;
	margin: 0 auto;
}
