// Typographic scale based on the pitch ratio (6:5) -- a minor third.
// This scale brings harmony and rhythm to the visual design, creating
// a balanced and pleasing typographic hierarchy.

@use "katex/dist/katex.min.css";
@use "sass:map";
@use "colors";
@use "spacing";

$minor-third: 1.2;

$type-scale: (
	"3xs": calc(1rem / pow(#{$minor-third}, 3)),
	"2xs": calc(1rem / pow(#{$minor-third}, 2)),
	"xs": calc(1rem / pow(#{$minor-third}, 1)),
	"base": calc(1rem * pow(#{$minor-third}, 0)),
	"xl": calc(1rem * pow(#{$minor-third}, 1)),
	"2xl": calc(1rem * pow(#{$minor-third}, 2)),
	"3xl": calc(1rem * pow(#{$minor-third}, 3)),
	"4xl": calc(1rem * pow(#{$minor-third}, 4)),
	"5xl": calc(1rem * pow(#{$minor-third}, 5)),
	"6xl": calc(1rem * pow(#{$minor-third}, 6)),
	"7xl": calc(1rem * pow(#{$minor-third}, 7)),
);

* {
	// Apply fluid typography styles to tween the base font size between
	// 14.4px (0.9rem) and 16px (1rem) when the viewport is in between
	// 320px (20rem) and 960px (60rem).
	//
	// And then we scale the base font size by ≈110%. For some reason,
	// multiplying by 1.05 results in a multiplication of 1.05² ≈ 1.10.
	// However, I am satisfied with the result, so whatever. ¯\_(ツ)_/¯
	//
	// This calculator was used to figure out the clamp parameters:
	// https://royalfig.github.io/fluid-typography-calculator/
	font-size: calc(clamp(0.9rem, 0.85rem + 0.25vw, 1rem) * 1.05);
	font-family: 'FSD Emoji', Nure, sans-serif;
	font-variation-settings: 'opsz' 18, 'wdth' 85;
	font-feature-settings: 'kern' 1;
	text-align: justify;
	hyphens: auto;
}

.katex {
	font-size: 1.1em;
}

.katex * {
	// Unset all font properties to prevent conflicts with KaTeX.
	// Otherwise, the math will be UGLY! :(
	font-size: unset;
	font-family: unset;
	font-variation-settings: unset;
	font-feature-settings: unset;
	text-align: unset;
	hyphens: unset;
}

[data-theme='light'] {
	--gray-01: #{map.get(colors.$gray, "light", "01")};
	--gray-11: #{map.get(colors.$gray, "light", "11")};
	--gray-12: #{map.get(colors.$gray, "light", "12")};
}

[data-theme='dark'] {
	--gray-01: #{map.get(colors.$gray, "dark", "01")};
	--gray-11: #{map.get(colors.$gray, "dark", "11")};
	--gray-12: #{map.get(colors.$gray, "dark", "12")};
}

$heading-sizes: (
	"h1": "4xl",
	"h2": "3xl",
	"h3": "2xl",
	"h4": "xl",
	"h5": "base",
	"h6": "xs"
);

@each $heading, $size in $heading-sizes {
	#{$heading} {
		font-size: map.get($type-scale, $size);
		font-variation-settings: 'opsz' 18, 'wdth' 75;
		font-weight: 500;
		line-height: 1.1;
		text-transform: uppercase;
		text-align: left;
		border-bottom: 2px solid;
	}
}

strong {
	// The words can be strong, but not too strong.
	font-weight: 600;
}

a {
	font-feature-settings: 'smcp' 1, 'c2sc' 1;
	font-variant: all-small-caps;
	font-variant-caps: all-small-caps;
	text-underline-offset: 3px;
	text-decoration: none;
	color: var(--gray-12);

	&:hover {
		text-decoration: underline;
	}
}

.with-drop-cap {
	&::first-letter {
		// [HACK] Initially, 3 em was set to span two lines (2 * 1.5 em height),
		// but this caused three-line spans in some viewports. Tests revealed a
		// subtle -1 px adjustment consistently achieves the desired two-line
		// effect, preserving visual harmony across all observed screen sizes.
		font-size: calc(3em - 1px);

		float: left;
		font-family: PragmataPro Fraktur, sans-serif;
		font-variant-ligatures: none;
		font-weight: bold;
		line-height: 1em;
		margin-right: map.get(spacing.$spacing, "1");
		margin-top: map.get(spacing.$spacing, "0");
		color: var(--gray-12);
		background: var(--gray-01);
		background-clip: text;
	}
}

ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0;

	& li {
		padding-left: map.get(spacing.$spacing, "8");
	}

	& li::before {
		content: "✦";
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: map.get(spacing.$spacing, "4");
		margin-left: -#{map.get(spacing.$spacing, "6")};
		float: left;
	}
}

code {
	background: var(--gray-11);
	color: var(--gray-01);

	font-family: PragmataPro Liga;
	font-size: calc(#{map.get($type-scale, "xs")} * 1.05);

	margin-left: map.get(spacing.$spacing, "0.5");
	margin-right: map.get(spacing.$spacing, "0.5");
	padding-top: map.get(spacing.$spacing, "0.5");
	padding-bottom: map.get(spacing.$spacing, "0.5");
	padding-left: map.get(spacing.$spacing, "1");
	padding-right: map.get(spacing.$spacing, "1");
	border-radius: map.get(spacing.$spacing, "1");

	// Prevent slicing over line breaks.
	box-decoration-break: clone;
}

pre > code {
	color: unset;
	width: 100%;
	padding-top: map.get(spacing.$spacing, "4");
	padding-bottom: map.get(spacing.$spacing, "4");
	display: block;
	overflow-x: auto;
}

pre > code, pre > code * {
	font-family: PragmataPro Liga;
	font-size: calc(#{map.get($type-scale, "xs")} * 1.05);
	tab-size: 3;
}
