// Typographic scale based on the pitch ratio (6:5) -- a minor third.
// This scale brings harmony and rhythm to the visual design, creating
// a balanced and pleasing typographic hierarchy.

@use "sass:map";
@use "colors";
@use "spacing";

$minor-third: 1.2;

$type-scale: (
	"3xs": calc(1rem / pow(#{$minor-third}, 3)),
	"2xs": calc(1rem / pow(#{$minor-third}, 2)),
	"xs": calc(1rem / pow(#{$minor-third}, 1)),
	"base": calc(1rem * pow(#{$minor-third}, 0)),
	"xl": calc(1rem * pow(#{$minor-third}, 1)),
	"2xl": calc(1rem * pow(#{$minor-third}, 2)),
	"3xl": calc(1rem * pow(#{$minor-third}, 3)),
	"4xl": calc(1rem * pow(#{$minor-third}, 4)),
	"5xl": calc(1rem * pow(#{$minor-third}, 5)),
	"6xl": calc(1rem * pow(#{$minor-third}, 6)),
	"7xl": calc(1rem * pow(#{$minor-third}, 7)),
);

* {
	// Apply fluid typography styles to tween the base font size between
	// 14.4px (0.9rem) and 16px (1rem) when the viewport is in between
	// 320px (20rem) and 960px (60rem).
	//
	// This calculator was used to figure out the clamp parameters:
	// https://royalfig.github.io/fluid-typography-calculator/
	font-size: clamp(0.9rem, 0.85rem + 0.25vw, 1rem);

	font-family: 'FSD Emoji', Nure, sans-serif;
	font-variation-settings: 'opsz' 18, 'wdth' 85;
	font-feature-settings: 'kern' 1;
	text-align: justify;
	hyphens: auto;
}

.katex * {
	// Unset all font properties to prevent conflicts with KaTeX.
	// Otherwise, the math will be UGLY! :(
	font-size: unset;
	font-family: unset;
	font-variation-settings: unset;
	font-feature-settings: unset;
	text-align: unset;
	hyphens: unset;
}

[data-theme='light'] {
	--background-color: #{map.get(colors.$gray, "light", "01")};
	--foreground-color: #{map.get(colors.$gray, "light", "12")};
}

[data-theme='dark'] {
	--background-color: #{map.get(colors.$gray, "dark", "01")};
	--foreground-color: #{map.get(colors.$gray, "dark", "12")};
}

$heading-sizes: (
	"h1": "4xl",
	"h2": "3xl",
	"h3": "2xl",
	"h4": "xl",
	"h5": "base",
	"h6": "xs"
);

@each $heading, $size in $heading-sizes {
	#{$heading} {
		font-size: map.get($type-scale, $size);
		font-variation-settings: 'opsz' 18, 'wdth' 75;
		font-weight: 500;
		line-height: 1.1;
		text-transform: uppercase;
		text-align: unset;
		border-bottom: 2px solid;
		letter-spacing: 0.03rem;
	}
}

a {
	font-feature-settings: 'smcp' 1, 'c2sc' 1;
	font-variant: all-small-caps;
	font-variant-caps: all-small-caps;
	text-underline-offset: 3px;
	text-decoration: none;
	color: var(--foreground-color);

	&:hover {
		text-decoration: underline;
	}
}

.with-drop-cap {
	&::first-letter {
		// [HACK] Initially, 3 em was set to span two lines (2 * 1.5 em height),
		// but this caused three-line spans in some viewports. Tests revealed a
		// subtle -1 px adjustment consistently achieves the desired two-line
		// effect, preserving visual harmony across all observed screen sizes.
		font-size: calc(3em - 1px);

		float: left;
		font-family: PragmataPro Fraktur;
		font-variant-ligatures: none;
		font-weight: bold;
		line-height: 1em;
		margin-right: map.get(spacing.$spacing, "1");
		margin-top: map.get(spacing.$spacing, "0");
		color: var(--foreground-color);
		background: var(--background-color);
		background-clip: text;
	}
}
