div[data-tag-name="blockquote"] > blockquote {
	font-family: 'PragmataPro Fraktur';
	font-variant-ligatures: none;
	font-size: 0.9em;
	border-width: 4px;
	line-height: 1.5em;
	padding: 0 0 0 var(--size-4-4);
}

div[data-tag-name="blockquote"] > blockquote a {
	font-variant-ligatures: none;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}
