// Add drop caps to the first paragraph:
// 	1. After any <h1> headers, or
// 	2. After the inline title, or
// 	3. After the inline title & metadata container.
div[data-tag-name="h1"] + div > p:first-letter,
div.mod-header + div > p:first-letter,
div.mod-header + div:not([data-tag-name="p"]) + div > p:first-letter {
	float: left;
	font-family: 'PragmataPro Fraktur';
	font-variant-ligatures: none;
	font-size: 2.7em;
	font-weight: bold;
	line-height: 1em;
	margin-right: 6px;
	margin-top: 4px;
}
