body {
	--list-spacing: 0.25em;
}

ul {
	padding-top: var(--list-spacing);
}

ol {
	list-style: none;
	counter-reset: ordered-list;

	& > li::before {
		font-family: "Nure";
		font-feature-settings: 'ss10' 1;

		// Construct the ligature for the next number in the list.
		// This requires stylistic set 10 to be enabled. 
		content: "(" counter(ordered-list) ")";
		counter-increment: ordered-list;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 2em;

		float: left;
		margin-left: -2em;
	}
}

.collapse-indicator:not(.heading-collapse-indicator) {
	margin-top: 0 !important;
	cursor: pointer !important;
}
