@use "sass:map";
@use "../../styles";

[data-theme='light'] {
	--border-color: #{map.get(styles.$gray, "light", "12")};
}

[data-theme='dark'] {
	--border-color: #{map.get(styles.$gray, "dark", "12")};
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 100%;

	padding-left: map.get(styles.$spacing, "3");
	padding-right: map.get(styles.$spacing, "3");
	border-bottom: calc(map.get(styles.$spacing, "1") + 1px) solid var(--border-color);
}
